@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Kreon:wght@400;500&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Kreon:wght@400;500&family=Share+Tech+Mono&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Kreon:wght@400;500&family=Nova+Mono&family=Red+Hat+Mono:wght@300&family=Share+Tech+Mono&family=Ubuntu+Mono&display=swap');
.about{
  padding: 0px 40px;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.about__section__container{
  display: flex;
  flex-direction: column;
  align-content: center;
}

.about__div{
  margin: 10px;
}

.about__div__h1{
  color: var(--lines-color);
  font-family: Ubuntu Mono;
  font-size: clamp(14px,5vw,16px);
}

.about__div__h2{
  color: rgb(90, 43, 43);
  font-family: Share Tech Mono;
  font-size: clamp(40px, 6.8vw, 60px);
}

.about__div__h3{
  color: rgb(61, 42, 42);
  font-family: Ubuntu Mono;

  font-size: clamp(40px, 6.8vw, 60px);
}

.about__div__p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  max-width: 40vw;
}
