.aboutme{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.aboutme__text{
	/* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
	grid-column: 1/3;
}

.aboutme__text__p{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin-top: 20px;
}

.skills{
	display: grid;
	margin-top: 10px;
	grid-template-columns: repeat(4 , 1fr);
}

.skill__text{
	font-family: Ubuntu Mono;
}

.aboutme__myimg{
	padding: 10px;
	position: relative;
	justify-self: center;
	margin: auto
}

.aboutme__myimg__img{
	position: relative;
	height: 200px;
	width: 200px;
	z-index: 200;
	transition: all 0.5s;
}

.aboutme__myimg__filter{
	width: 200px;
	height: 200px;
	position: absolute;
	background-color: rgba(77, 0, 0, 0.37);
	z-index: 300;
	transition: all 0.5s;
	animation: visible 0.5s both;
}


.aboutme__myimg__shadow{
	position: absolute;
	top:20px;
	right: 0px;
	width: 200px;
	height: 200px;
	z-index: 100;
	border: solid 3px var(--lines-color);
	
}

.aboutme__myimg__img__moved{
	transform: translate(-5px , -5px);
}

.aboutme__myimg__filter__invisible{
	animation: invisible 0.5s both;
}


@keyframes invisible {
	from {transform: scale(1);}
	to{
		transform: scale(0);
	}
}

@keyframes visible {
	from {transform: scale(0);}
	to {transform: scale(1);}
}

@media (max-width: 620px){
	.aboutme__text{
		grid-column: 1/-1;

	}
	.aboutme__myimg{
		margin-top: 30px;
		grid-column: 1/-1;
	}
}