.rigthSideBar{
  position: fixed;
	background: linear-gradient(var(--primary-color) 0%, var(--secundary-color) 100%);
	width: 100px;
	z-index: 29000;
	bottom: 0;
  right: 0;
	display: flex;
	justify-content: center;
	height: 350px;
	transition: all 0.5s;
}

.rigthSideBar__list {
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 45px;
	margin-top: auto;
}

.email__link{
	transform: rotate(90deg);
  margin-top: -190px;
	margin-right: -3px;
	font-family: Ubuntu Mono;
	transition: all 0.5s;
	cursor: pointer;
}

.email__link:hover{
	transform: rotate(90deg) translateX(-5px);
}

.email__link a{
	color: var(--lines-color);
	text-decoration: none;

} 

.rigthSideBar__list::after {
	content: "";
	display: block;
	width: 2px;
	height: 90px;
	margin: 0px auto;
	background: var(--lines-color);
}

@media (max-width: 760px){
	.rigthSideBar{
		transform: translateX(100%);
	}
}